$icomoon-font-family: "kimaritec" !default;
$icomoon-font-path: "fonts" !default;

$icon-activity: unquote('"\\e900"');
$icon-airplay: unquote('"\\e901"');
$icon-alert-circle: unquote('"\\e902"');
$icon-alert-octagon: unquote('"\\e903"');
$icon-alert-triangle: unquote('"\\e904"');
$icon-align-center: unquote('"\\e905"');
$icon-align-justify: unquote('"\\e906"');
$icon-align-left: unquote('"\\e907"');
$icon-align-right: unquote('"\\e908"');
$icon-anchor: unquote('"\\e909"');
$icon-aperture: unquote('"\\e90a"');
$icon-archive: unquote('"\\e90b"');
$icon-arrow-down: unquote('"\\e90c"');
$icon-arrow-down-circle: unquote('"\\e90d"');
$icon-arrow-down-left: unquote('"\\e90e"');
$icon-arrow-down-right: unquote('"\\e90f"');
$icon-arrow-left: unquote('"\\e910"');
$icon-arrow-left-circle: unquote('"\\e911"');
$icon-arrow-right: unquote('"\\e912"');
$icon-arrow-right-circle: unquote('"\\e913"');
$icon-arrow-up: unquote('"\\e914"');
$icon-arrow-up-circle: unquote('"\\e915"');
$icon-arrow-up-left: unquote('"\\e916"');
$icon-arrow-up-right: unquote('"\\e917"');
$icon-at-sign: unquote('"\\e918"');
$icon-award: unquote('"\\e919"');
$icon-bar-chart: unquote('"\\e91a"');
$icon-bar-chart-2: unquote('"\\e91b"');
$icon-battery: unquote('"\\e91c"');
$icon-battery-charging: unquote('"\\e91d"');
$icon-bell: unquote('"\\e91e"');
$icon-bell-off: unquote('"\\e91f"');
$icon-bluetooth: unquote('"\\e920"');
$icon-bold: unquote('"\\e921"');
$icon-book: unquote('"\\e922"');
$icon-book-open: unquote('"\\e923"');
$icon-bookmark: unquote('"\\e924"');
$icon-box: unquote('"\\e925"');
$icon-briefcase: unquote('"\\e926"');
$icon-calendar: unquote('"\\e927"');
$icon-camera: unquote('"\\e928"');
$icon-camera-off: unquote('"\\e929"');
$icon-cast: unquote('"\\e92a"');
$icon-check: unquote('"\\e92b"');
$icon-check-circle: unquote('"\\e92c"');
$icon-check-square: unquote('"\\e92d"');
$icon-chevron-down: unquote('"\\e92e"');
$icon-chevron-left: unquote('"\\e92f"');
$icon-chevron-right: unquote('"\\e930"');
$icon-chevron-up: unquote('"\\e931"');
$icon-chevrons-down: unquote('"\\e932"');
$icon-chevrons-left: unquote('"\\e933"');
$icon-chevrons-right: unquote('"\\e934"');
$icon-chevrons-up: unquote('"\\e935"');
$icon-chrome: unquote('"\\e936"');
$icon-circle: unquote('"\\e937"');
$icon-clipboard: unquote('"\\e938"');
$icon-clock: unquote('"\\e939"');
$icon-cloud: unquote('"\\e93a"');
$icon-cloud-drizzle: unquote('"\\e93b"');
$icon-cloud-lightning: unquote('"\\e93c"');
$icon-cloud-off: unquote('"\\e93d"');
$icon-cloud-rain: unquote('"\\e93e"');
$icon-cloud-snow: unquote('"\\e93f"');
$icon-code: unquote('"\\e940"');
$icon-codepen: unquote('"\\e941"');
$icon-codesandbox: unquote('"\\e942"');
$icon-coffee: unquote('"\\e943"');
$icon-columns: unquote('"\\e944"');
$icon-command: unquote('"\\e945"');
$icon-compass: unquote('"\\e946"');
$icon-copy: unquote('"\\e947"');
$icon-corner-down-left: unquote('"\\e948"');
$icon-corner-down-right: unquote('"\\e949"');
$icon-corner-left-down: unquote('"\\e94a"');
$icon-corner-left-up: unquote('"\\e94b"');
$icon-corner-right-down: unquote('"\\e94c"');
$icon-corner-right-up: unquote('"\\e94d"');
$icon-corner-up-left: unquote('"\\e94e"');
$icon-corner-up-right: unquote('"\\e94f"');
$icon-cpu: unquote('"\\e950"');
$icon-credit-card: unquote('"\\e951"');
$icon-crop: unquote('"\\e952"');
$icon-crosshair: unquote('"\\e953"');
$icon-database: unquote('"\\e954"');
$icon-delete: unquote('"\\e955"');
$icon-disc: unquote('"\\e956"');
$icon-dollar-sign: unquote('"\\e957"');
$icon-download: unquote('"\\e958"');
$icon-download-cloud: unquote('"\\e959"');
$icon-droplet: unquote('"\\e95a"');
$icon-edit: unquote('"\\e95b"');
$icon-edit-2: unquote('"\\e95c"');
$icon-edit-3: unquote('"\\e95d"');
$icon-external-link: unquote('"\\e95e"');
$icon-eye: unquote('"\\e95f"');
$icon-eye-off: unquote('"\\e960"');
$icon-facebook: unquote('"\\e961"');
$icon-fast-forward: unquote('"\\e962"');
$icon-feather: unquote('"\\e963"');
$icon-figma: unquote('"\\e964"');
$icon-file: unquote('"\\e965"');
$icon-file-minus: unquote('"\\e966"');
$icon-file-plus: unquote('"\\e967"');
$icon-file-text: unquote('"\\e968"');
$icon-film: unquote('"\\e969"');
$icon-filter: unquote('"\\e96a"');
$icon-flag: unquote('"\\e96b"');
$icon-folder: unquote('"\\e96c"');
$icon-folder-minus: unquote('"\\e96d"');
$icon-folder-plus: unquote('"\\e96e"');
$icon-framer: unquote('"\\e96f"');
$icon-frown: unquote('"\\e970"');
$icon-gift: unquote('"\\e971"');
$icon-git-branch: unquote('"\\e972"');
$icon-git-commit: unquote('"\\e973"');
$icon-git-merge: unquote('"\\e974"');
$icon-git-pull-request: unquote('"\\e975"');
$icon-github: unquote('"\\e976"');
$icon-gitlab: unquote('"\\e977"');
$icon-globe: unquote('"\\e978"');
$icon-grid: unquote('"\\e979"');
$icon-hard-drive: unquote('"\\e97a"');
$icon-hash: unquote('"\\e97b"');
$icon-headphones: unquote('"\\e97c"');
$icon-heart: unquote('"\\e97d"');
$icon-help-circle: unquote('"\\e97e"');
$icon-hexagon: unquote('"\\e97f"');
$icon-home: unquote('"\\e980"');
$icon-image: unquote('"\\e981"');
$icon-inbox: unquote('"\\e982"');
$icon-info: unquote('"\\e983"');
$icon-instagram: unquote('"\\e984"');
$icon-italic: unquote('"\\e985"');
$icon-key: unquote('"\\e986"');
$icon-layers: unquote('"\\e987"');
$icon-layout: unquote('"\\e988"');
$icon-life-buoy: unquote('"\\e989"');
$icon-link: unquote('"\\e98a"');
$icon-link-2: unquote('"\\e98b"');
$icon-linkedin: unquote('"\\e98c"');
$icon-list: unquote('"\\e98d"');
$icon-loader: unquote('"\\e98e"');
$icon-lock: unquote('"\\e98f"');
$icon-log-in: unquote('"\\e990"');
$icon-log-out: unquote('"\\e991"');
$icon-mail: unquote('"\\e992"');
$icon-map: unquote('"\\e993"');
$icon-map-pin: unquote('"\\e994"');
$icon-maximize: unquote('"\\e995"');
$icon-maximize-2: unquote('"\\e996"');
$icon-meh: unquote('"\\e997"');
$icon-menu: unquote('"\\e998"');
$icon-message-circle: unquote('"\\e999"');
$icon-message-square: unquote('"\\e99a"');
$icon-mic: unquote('"\\e99b"');
$icon-mic-off: unquote('"\\e99c"');
$icon-minimize: unquote('"\\e99d"');
$icon-minimize-2: unquote('"\\e99e"');
$icon-minus: unquote('"\\e99f"');
$icon-minus-circle: unquote('"\\e9a0"');
$icon-minus-square: unquote('"\\e9a1"');
$icon-monitor: unquote('"\\e9a2"');
$icon-moon: unquote('"\\e9a3"');
$icon-more-horizontal: unquote('"\\e9a4"');
$icon-more-vertical: unquote('"\\e9a5"');
$icon-mouse-pointer: unquote('"\\e9a6"');
$icon-move: unquote('"\\e9a7"');
$icon-music: unquote('"\\e9a8"');
$icon-navigation: unquote('"\\e9a9"');
$icon-navigation-2: unquote('"\\e9aa"');
$icon-octagon: unquote('"\\e9ab"');
$icon-package: unquote('"\\e9ac"');
$icon-paperclip: unquote('"\\e9ad"');
$icon-pause: unquote('"\\e9ae"');
$icon-pause-circle: unquote('"\\e9af"');
$icon-pen-tool: unquote('"\\e9b0"');
$icon-percent: unquote('"\\e9b1"');
$icon-phone: unquote('"\\e9b2"');
$icon-phone-call: unquote('"\\e9b3"');
$icon-phone-forwarded: unquote('"\\e9b4"');
$icon-phone-incoming: unquote('"\\e9b5"');
$icon-phone-missed: unquote('"\\e9b6"');
$icon-phone-off: unquote('"\\e9b7"');
$icon-phone-outgoing: unquote('"\\e9b8"');
$icon-pie-chart: unquote('"\\e9b9"');
$icon-play: unquote('"\\e9ba"');
$icon-play-circle: unquote('"\\e9bb"');
$icon-plus: unquote('"\\e9bc"');
$icon-plus-circle: unquote('"\\e9bd"');
$icon-plus-square: unquote('"\\e9be"');
$icon-pocket: unquote('"\\e9bf"');
$icon-power: unquote('"\\e9c0"');
$icon-printer: unquote('"\\e9c1"');
$icon-radio: unquote('"\\e9c2"');
$icon-refresh-ccw: unquote('"\\e9c3"');
$icon-refresh-cw: unquote('"\\e9c4"');
$icon-repeat: unquote('"\\e9c5"');
$icon-rewind: unquote('"\\e9c6"');
$icon-rotate-ccw: unquote('"\\e9c7"');
$icon-rotate-cw: unquote('"\\e9c8"');
$icon-rss: unquote('"\\e9c9"');
$icon-save: unquote('"\\e9ca"');
$icon-scissors: unquote('"\\e9cb"');
$icon-search: unquote('"\\e9cc"');
$icon-send: unquote('"\\e9cd"');
$icon-server: unquote('"\\e9ce"');
$icon-settings: unquote('"\\e9cf"');
$icon-share: unquote('"\\e9d0"');
$icon-share-2: unquote('"\\e9d1"');
$icon-shield: unquote('"\\e9d2"');
$icon-shield-off: unquote('"\\e9d3"');
$icon-shopping-bag: unquote('"\\e9d4"');
$icon-shopping-cart: unquote('"\\e9d5"');
$icon-shuffle: unquote('"\\e9d6"');
$icon-sidebar: unquote('"\\e9d7"');
$icon-skip-back: unquote('"\\e9d8"');
$icon-skip-forward: unquote('"\\e9d9"');
$icon-slack: unquote('"\\e9da"');
$icon-slash: unquote('"\\e9db"');
$icon-sliders: unquote('"\\e9dc"');
$icon-smartphone: unquote('"\\e9dd"');
$icon-smile: unquote('"\\e9de"');
$icon-speaker: unquote('"\\e9df"');
$icon-square: unquote('"\\e9e0"');
$icon-star: unquote('"\\e9e1"');
$icon-stop-circle: unquote('"\\e9e2"');
$icon-sun: unquote('"\\e9e3"');
$icon-sunrise: unquote('"\\e9e4"');
$icon-sunset: unquote('"\\e9e5"');
$icon-tablet: unquote('"\\e9e6"');
$icon-tag: unquote('"\\e9e7"');
$icon-target: unquote('"\\e9e8"');
$icon-terminal: unquote('"\\e9e9"');
$icon-thermometer: unquote('"\\e9ea"');
$icon-thumbs-down: unquote('"\\e9eb"');
$icon-thumbs-up: unquote('"\\e9ec"');
$icon-toggle-left: unquote('"\\e9ed"');
$icon-toggle-right: unquote('"\\e9ee"');
$icon-tool: unquote('"\\e9ef"');
$icon-trash: unquote('"\\e9f0"');
$icon-trash-2: unquote('"\\e9f1"');
$icon-trello: unquote('"\\e9f2"');
$icon-trending-down: unquote('"\\e9f3"');
$icon-trending-up: unquote('"\\e9f4"');
$icon-triangle: unquote('"\\e9f5"');
$icon-truck: unquote('"\\e9f6"');
$icon-tv: unquote('"\\e9f7"');
$icon-twitch: unquote('"\\e9f8"');
$icon-twitter: unquote('"\\e9f9"');
$icon-type: unquote('"\\e9fa"');
$icon-umbrella: unquote('"\\e9fb"');
$icon-underline: unquote('"\\e9fc"');
$icon-unlock: unquote('"\\e9fd"');
$icon-upload: unquote('"\\e9fe"');
$icon-upload-cloud: unquote('"\\e9ff"');
$icon-user: unquote('"\\ea00"');
$icon-user-check: unquote('"\\ea01"');
$icon-user-minus: unquote('"\\ea02"');
$icon-user-plus: unquote('"\\ea03"');
$icon-user-x: unquote('"\\ea04"');
$icon-users: unquote('"\\ea05"');
$icon-video: unquote('"\\ea06"');
$icon-video-off: unquote('"\\ea07"');
$icon-voicemail: unquote('"\\ea08"');
$icon-volume: unquote('"\\ea09"');
$icon-volume-1: unquote('"\\ea0a"');
$icon-volume-2: unquote('"\\ea0b"');
$icon-volume-x: unquote('"\\ea0c"');
$icon-watch: unquote('"\\ea0d"');
$icon-wifi: unquote('"\\ea0e"');
$icon-wifi-off: unquote('"\\ea0f"');
$icon-wind: unquote('"\\ea10"');
$icon-x: unquote('"\\ea11"');
$icon-x-circle: unquote('"\\ea12"');
$icon-x-octagon: unquote('"\\ea13"');
$icon-x-square: unquote('"\\ea14"');
$icon-youtube: unquote('"\\ea15"');
$icon-zap: unquote('"\\ea16"');
$icon-zap-off: unquote('"\\ea17"');
$icon-zoom-in: unquote('"\\ea18"');
$icon-zoom-out: unquote('"\\ea19"');

